@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DBTest</title>
</head>
<body>
    <div>
        DB Connection Test. @ViewData["Result"];

    </div>
</body>
</html>
