<ul class="nav navbar-nav">
    <li><a href="@Url.Action("senate", new { Controller = "Home" })">Senate Legislation</a></li>
    <li><a href="@Url.Action("house", new { Controller = "Home" })">House Legislation</a></li>
</ul>
