<ul class="nav navbar-nav">
   @* <li><a href="@Url.Action("Index", new { Controller = "Home" })">Home</a></li>*@
    <li><a href="@Url.Action("Senate", new { Controller = "Home" })">Senate Legislation</a></li>
    <li><a href="@Url.Action("House", new { Controller = "Home" })">House Legislation</a></li>
</ul>
