<ul class="nav navbar-nav navbar-right">


    @if (User.Identity.IsAuthenticated)
    {
        <li>
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("index", new { Controller = "acct" })">(admin) myAccount&nbsp;</a>
            }
            else
            {
                 <a href="@Url.Action("index", new { Controller = "acct" })">myAccount&nbsp;</a>
            }
        </li>
    }
    else
    { 
        <li><a href="@Url.Action("index", new { Controller = "acct" })">myAccount&nbsp;</a></li>
    }
</ul>