<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            What is this a list of?</h3>
    </div>
    <div class="panel-body">
        <b>Resolutions:</b>
        <p>
            A resolution is a written motion adopted by a deliberative body. The substance of
            the resolution can be anything that can normally be proposed as a motion. For long
            or important motions, though, it is often better to have them written out so that
            discussion is easier or so that it can be distributed outside of the body after
            its adoption.</p>
        <cite><a href="http://en.wikipedia.org/wiki/Resolution_(law)">Wikiepdia</a></cite>
    </div>
</div>
