<div class="panel panel-primary hidden-xs">
    <div class="panel-heading">
        <h3 class="panel-title">
            What is this a list of?</h3>
    </div>
    <div class="panel-body">
        <b>Joint Resolutions:</b>
        <p>
            Generally, there is no legal difference between a joint resolution and a bill. Both
            must be passed, in exactly the same form, by both chambers of Congress, and then
            must — with one exception — be presented to the President and signed by him/her
            (or, re-passed in override of a presidential veto; or, remain unsigned for ten days
            while Congress is in session) to become a law. Laws enacted by virtue of a joint
            resolution are not distinguished from laws enacted by a bill. Constitutional amendments
            are passed by joint resolutions, which are not presented to the President. Instead,
            they are sent to the states for ratification under Article V of the U.S. Constitution.
        </p>
        <cite><a href="http://en.wikipedia.org/wiki/Joint_resolution">Wikiepdia</a></cite>
    </div>
</div>
