<div class="panel panel-primary hidden-xs">
    <div class="panel-heading">
        <h3 class="panel-title">
            What is this a list of?</h3>
    </div>
    <div class="panel-body">
        <b>Concurrent Resolutions:</b>
        <p>
            A concurrent resolution is a resolution (a legislative measure) adopted by both
            houses of a bicameral legislature that lacks the force of law (is non-binding) and
            does not require the approval of the chief executive (president). Concurrent resolutions
            are typically adopted to regulate the internal affairs of the legislature that adopted
            it, or for other purposes where authority of law is not necessary—such as awards
            or recognitions.</p>
        <cite><a href="http://en.wikipedia.org/wiki/Concurrent_resolution">Wikiepdia</a></cite>
    </div>
</div>
